*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --ff-primary: 'Staatliches', cursive;
    --ff-secondary: 'Poppins', sans-serif;

    --fc-title-primary: #253B51;
    --fc-title-secondary: #FFFFFF;
    --fc-primary: #4E4958;
    --fc-secondary: #C1BCCC;
    --fc-line: #dbd5e7;

    --bg-before: #293241;
    --bg-form: #FFFFFF;
    --bg-body: #BFD7E4;
    --bg-input:  #FAFAFC;
    --bg-button: #F67669;
    --bg-button-hover: #f55644;

}

body {
    font-size: 1.6rem;
    background-color: var(--bg-body);
    min-height: 100vh;
}

body::before {
    background: var(--bg-before);

    content: '';
    width: 100%;
    height: 46.5rem;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.header {
    margin-top: 10.7rem;
    display: grid;
    place-items: center;
    text-align: center;

    color: var(--fc-title-secondary);
}

.header h1 {
    margin-bottom: 1rem;
    font-family: var(--ff-primary);
    font-size: 3.6rem;
}

.header p {
    margin-bottom: 4rem;
    font-family: var(--ff-secondary);
}

.top-title {
    display: grid;
    place-items: center;
    height: 13.3rem;
    background-color: var(--bg-button);

    margin-top: 3.4rem;
    border-radius: .8rem .8rem 0 0;

    color: var(--fc-title-secondary);
    text-transform: uppercase;
    font-family: var(--ff-primary);
}

.page {
    margin: 0 auto;
    width: 75rem;
}

form {
    background: var(--bg-form);
    border-radius: 0 0 2rem 2rem;
    padding: 3.2rem 6.4rem;;
    gap: 3.2rem;
}

fieldset {
    border: none;
}

.fieldset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.fieldset-title-2,
.fieldset-title {
    font-size: 2.4rem;
    line-height: 3.4rem;
    font-family: var(--ff-primary);
    text-align: center;
    text-transform: uppercase;
}

.fieldset-wrapper  {
    color: var(--fc-title-primary);
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.2rem;
    gap: .7rem;
}

.input-wrapper label,
.checkbox-wrapper label {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--fc-primary);
    font-family: var(--ff-secondary);
}

.input-wrapper span {
    color: var(--fc-secondary);

    transition: all .3s;
}

.input-wrapper span:hover {
    color: var(--bg-before)
}

.input-wrapper input,
.input-wrapper select,
.input-wrapper textarea
{
    height: 5.6rem;
    background-color: var(--bg-input);
    border: 1px solid var(--bg-body);
    border-radius: .8rem;

    padding: 2.4rem;
    font-family: var(--ff-secondary);
}

.input-wrapper textarea {
    height: 20rem;
}
.input-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 2.4rem top 50%;
    padding: 0 2rem;
  }

  .checkbox-wrapper {
    position: relative;

    margin-bottom: 3.2rem;
  }

  .checkbox-wrapper label {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    margin: 0;
  }

  .checkbox-wrapper input {
    position: absolute;
    top:0;
    left: 0;
    width: 2.4rem;
    height: 2.4rem;

    opacity: 0;
  }

  .checkbox-wrapper label::before {
    content: '';
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    border: 1px solid #E6E6F0;
    border-radius: .8rem;
  }

  .checkbox-wrapper input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00016 16.1698L4.83016 11.9998L3.41016 13.4098L9.00016 18.9998L21.0002 6.99984L19.5902 5.58984L9.00016 16.1698Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
  }

    .checkbox-wrapper input:focus + label::before {
    outline: 2px solid black;
  }


.side-wrapper {
    display: flex;
    gap: 2rem;
}
.side-wrapper > div:nth-child(1) {
    width: 50%;
}

.side-wrapper > div:nth-child(2) {
    width: 50%;
}

.side-wrapper-2 {
    display: flex;
    gap: 3.2rem;
}

.side-wrapper-2 > div:nth-child(1) {
    width: 100%;
}

.line {
    border: 1px solid var(--fc-line);
}

footer {
    margin-top: 6.4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

footer .button {
    background-color: var(--bg-button);
    width: 100%;
    height: 5.1rem;
    border: 0;
    border-radius: .8rem;

    transition: all .3s;

    line-height: 2.6rem;
    font-size: 2rem;
    font-family: var(--ff-primary);
    color: var(--fc-title-secondary);
    text-transform: uppercase;
}

footer .button:hover {
    background-color: var(--bg-button-hover);
}

input:invalid, textarea:invalid, select:invalid {
    border: 1px solid red;
}